// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Home page
.home-header {
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
}

.home-arrow {
    position:absolute;
    margin: 5px;
    right: 20px;
}